<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <title>APP FLASK</title>
</head>
<body>
    <div class="container bg-success p-2">
        <h1 class="text-center">CLASSIFICAÇÃO DA INFANTARIA</h1>
        <label for="" class="text-white fw-bolder">Alunos</label>
  
        
        <select name="opcoes" id="opcoes" class="form-select form-select-lg w-25">
            {% for nome in nomes %}
            <option value={{nome}}>{{nome}}</option>
            {% endfor %}
        </select>

        <table class="table table-striped mt-2 table-success">
            <thead>
                <tr>
                    {% for cabecalho in dados.columns.tolist() %}
                        <td>{{cabecalho}}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for linha in dados.values.tolist() %}
                    <tr>
                        {% for elemento in linha %}
                            <td>{{elemento}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        

        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>